@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



table{
   position: absolute;
   left: 655px;
   top: 100px;
   background-color:white;
   color: black;
   font-family:'Arial';
   width: 50%;
   height: 55%;

}
table th { 
   background-color: #d3d6eb;  /*cor de fundo*/
}
tr:hover {
   background-color: #f1fa8c;
   color: #282a36;
}

